<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Om sidan</title>
</head>

<body>
    <div class="container">
        <header>
            <h1>DT207G - Moment 1</h1>
        </header>
        <nav>
            <ul>
                <li class="nav-left"><a href="/">Mina kurser</a></li>
                <li><a href="/form">Lägg till kurs</a></li>
                <li class="nav-right current"><a href="/about">Om sidan</a></li>
            </ul>
        </nav>
        <main>
            <div class="about-container">
                <article>
                    <h2>Om sidan</h2>
                    <p>Denna sida är en serverbaserad webbapplikation byggd med express och NodeJs. Syftet med
                        applikationen är att kunna lägga till kurser via ett formulär som kontrollerar att inmatningen
                        är
                        korrekt. Är inmatningen korrekt hämtas den inmatade datan från formuläret och lagras i en
                        databasserver. Databasservern som har använts för detta projekt är sqlite3. Den lagrade datan
                        skrivs ut till skärmen med hjälp av SQL-frågor. Det som lagras i databasen är information om
                        varje
                        kurs: kurskod, kursnamn, progression och länk till kursplan. Det går också att rensa tabellen i
                        databasen med hjälp av en SQL-fråga som kopplats ihop med en knapp för användaren.</p>
                </article>
                <article>
                    <h2>Slutsats</h2>
                    <p>Att kunna arbeta på detta sätt med serverprogrammering mot en databas och formulärdata öppnar upp
                        för
                        många nya möjligheter
                        i hur man kan utveckla webbapplikationer. Att faktiskt kunna skicka och lagra information
                        in en databas exempelvis känns spännande och användbart. Samtidigt som del av arbetssättet är
                        bekant
                        sedan innan, är det också
                        mycket
                        nytt som ska falla på plats och det kan kännas lite rörigt i början.</p>
                </article>
            </div>
        </main>
        <footer>
            <p>DT207G Datateknik GR (B), Backend-baserad webbutveckling - Mittuniversitetet</p>
            <p>Laboration: Moment 1</p>
            <p>Av: Caroline Jungefalk Palmgren</p>
        </footer>
    </div>
</body>