<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Om sidan</title>
</head>

<body>
    <div class="container">
        <header>
            <h1>DT207G - Moment 1</h1>
        </header>
        <nav>
            <ul>
                <li class="nav-left"><a href="/">Mina kurser</a></li>
                <li><a href="/form">Lägg till kurs</a></li>
                <li class="nav-right current"><a href="/about">Om sidan</a></li>
            </ul>
        </nav>
        <main>
            <h2>Om sidan</h2>
        </main>
        <footer>
            <p>DT207G Datateknik GR (B), Backend-baserad webbutveckling - Mittuniversitetet</p>
            <p>Laboration: Moment 1</p>
            <p>Av: Caroline Jungefalk Palmgren</p>
        </footer>
    </div>
</body>