<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>L채gg till kurs</title>
</head>

<body>
    <div class="container">
        <header>
            <h1>DT207G - Moment 1</h1>
        </header>
        <nav>
            <ul>
                <li class="nav-left"><a href="/">Mina kurser</a></li>
                <li class="current"><a href="/form">L채gg till kurs</a></li>
                <li class="nav-right"><a href="/about">Om sidan</a></li>
            </ul>
        </nav>
        <main>
            <h2>L채gg till kurs</h2>
            <form method="post">
                <label for="coursecode">Kurskod:</label>
                <br>
                <input type="text" name="coursecode">
                <br>
                <label for="course_ame">Kursnamn:</label>
                <br>
                <input type="text" name="course_name">
                <br>
                <label for="progression">Progression:</label>
                <br>
                <input type="text" name="progression">
                <br>
                <label for="syllabus">Kursplan:</label>
                <br>
                <input type="text" name="syllabus">
                <br>
                <button type="submit">L채gg till</button>
            </form>
        </main>
        <footer>
            <p>DT207G Datateknik GR (B), Backend-baserad webbutveckling - Mittuniversitetet</p>
            <p>Laboration: Moment 1</p>
            <p>Av: Caroline Jungefalk Palmgren</p>
        </footer>
    </div>
</body>